/* --- RESET --- Al quitar los márgenes predeterminados de los navegadores y usar border-box, te aseguras de que el tamaño de los elementos sea exacto,*/
* { 
    margin: 0; padding: 0; 
    box-sizing: border-box; 
}
body { 
    font-family: sans-serif; 
    background: #f4f4f4; 
    line-height: 1.6; 
}
:root{
    --color-menu: #710404;
    --color-sub-menu: #710404;
    --fuente-informacion: 'Montserrat';
    --fuente-titulos: 'Merriweather';
    --fuente-footer: 'Finlandica Headline';
    --color-fondo: #dbcdcdde;
}

/* FUENTES */

/* Info general */.montserrat-uniquifier {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


/* Titulos */ .merriweather-uniquifier {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "width" 100;
}

/* Footer */ .finlandica-headline-uniquifier {
  font-family: "Finlandica Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
