/* --- ESTILOS ESPECÍFICOS DEL INDEX --- 
auto-fit: El navegador calcula automáticamente cuántas tarjetas caben en el ancho disponible.

minmax(300px, 1fr): Cada tarjeta debe medir al menos 300px. Si sobra espacio, estírate (1fr) para llenarlo.*/
.principal {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-image: url('/imagenes/aniversario-tecnica-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 250px 20px;
    text-align: center;
    font-family: var(--fuente-titulos);
}

.contenedor { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    padding: 40px 5%; 
}

.tarjeta-info {
    background: white;
    padding: 30px;
    border-top: 5px solid #2e7d32;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}



