* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

p {
    text-align: justify;
}





/* MARKETPLACE */

.marketplace {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 40px 0;
    gap: 40px;
    justify-items: center;
}

.producto {
    width: 350px;
    height: 300px;
    border-radius: 12px;
    border: 3px solid rgb(70, 182, 70, 0.431);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.h2 {
    text-align: center;
    font-family: var(--fuente-titulos);
}





/* MEDIA QUERIES */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  nav ul li a {
    font-size: 18px;
    margin-top:20px;
  }

  .header__nav a {
    margin: 10px 0; 
  }
}